@model IEnumerable < Wardrobe.Models.Sho>

@{
    ViewBag.Title = "Index";
}

<h2>Shoes</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@foreach (var item in Model)
{
    <div class="container">

        <div class="col-md-4 col-xs-12 colBorder">
            <div class="row">
                <h1>
                    @Html.DisplayFor(modelItem => item.ShoesName)
                </h1>
                <h4>
                    <img class="img-responsive" src="@Html.DisplayFor(modelItem => item.ShoesPhoto)" alt="Shoes" />

                </h4>
                <h4>
                    @Html.DisplayFor(modelItem => item.ShoesType)
                </h4>
                <h4>
                    @Html.DisplayFor(modelItem => item.ShoesColor)
                </h4>
                <h4>
                    @Html.DisplayFor(modelItem => item.ShoesSeason)
                </h4>
                <h4>
                    @Html.DisplayFor(modelItem => item.ShoesOccasion)
                </h4>
                <p>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ShoesID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.ShoesID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ShoesID })
                </p>
            </div>
        </div>
    </div>
}
